@import url('https://fonts.cdnfonts.com/css/outfit');
@import url('https://fonts.cdnfonts.com/css/public-sans');

// 870 650


body::-webkit-scrollbar {
  width: 12px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2e2f3a;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: #171929;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
  border: none;
  /* padding вокруг плашки */
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  h1 {
    overflow-y: hidden;
  }


  button {
    cursor: pointer;
  }

  .App {


    header {
      position: fixed;
      z-index: 3;
      padding: 20px;
      width: 100vw;
      background: #1F2235;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      // @media screen and (max-width: 480px) {
      //   width: 480px;
      // }


      .navlink {
        font-family: 'Outfit';
        color: #FFFFFF;
        margin-right: 20px;
        margin-bottom: 0;
        text-decoration: none;
        transition: 0.5s;

        @media screen and (max-width: 650px) {
          font-size: 12px;
          margin-right: 10px;
        }
      }

      .navlink:hover {
        color: #FE461C;
        transition: 0.5s;
      }

      .dwn {
        background-color: #FE461C;
        color: #FFFFFF;
        width: 160px;
        padding: 10px 0;
        border-radius: 3px;
        border: none;
        transition: 0.5s;
        margin-right: 200px;

        @media screen and (max-width: 480px) {
          margin-right: 20px;
          font-size: 12px;
          width: 100px;
        }

        @media screen and (max-width: 1000px) {
          margin-right: 20px;
          font-size: 12px;
          width: 100px;
        }
      }

      .dwn:hover {
        background-color: #a73218;
        transition: 0.5s;
      }

    }

    .back {
      background-color: #1F2235;
      width: 100vw;
      height: 100vh;

      .contacts {

        position: absolute;
        top: 40%;
        left: 3%;

        .link {
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #2e2f3a;
          border-radius: 5px;
          width: 50px;
          height: 50px;
          margin-top: 10px;
          color: #FFFFFF;
          transition: 1s;
        }

        .link:hover {
          color: #000;
          transition: 1s;
          background-color: #FFFFFF;
          margin-left: 10px;
        }
      }


      .blocks {
        width: 80px;
        height: 80px;
        background-color: #0D0D0F;
        border-radius: 15px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
      }

      .one {
        left: 53%;
        top: 33%;
        color: green;
        z-index: 2;

        @media screen and (max-width: 1279px) {
          left: 43%;
        }
      }

      .two {
        z-index: 2;
        left: 50%;
        bottom: 22%;
        color: rgb(124, 124, 255);

        @media screen and (max-width: 1279px) {
          bottom: 6%;
          left: 43%;
        }
      }

      .three {
        right: 10%;
        top: 33%;
        color: #FE461C;

        @media screen and (max-width: 1279px) {
          display: none;
        }
      }

      .four {
        right: 5%;
        bottom: 18%;
        color: cornflowerblue;

        @media screen and (max-width: 1279px) {
          display: none;
        }
      }


      .circle_one {
        position: absolute;
        top: 30%;
        left: 16%;
        width: 204px;
        height: 204px;
        border-radius: 50%;
        background-color: #BBC5D3;
        opacity: 0.08;
      }

      .circle_two {
        position: absolute;
        top: 30%;
        left: 55%;
        width: 634px;
        height: 634px;
        border-radius: 50%;
        background-color: #171929;

        @media screen and (max-width: 1279px) {
          left: 50%;
          top: 40%;
          width: 434px;
          height: 434px;
        }

      }

      .text {
        width: 430px;
        position: absolute;
        left: 20%;
        top: 45%;
        color: #FFFFFF;

        .main_text {

          font-family: 'Outfit';

          span {

            color: #FE461C;
          }
        }

        .well {
          font-family: 'Public Sans';
        }

        .quote {
          width: 400px;
          font-family: 'Public Sans';
          font-weight: 100;
        }

        .hr {
          background-color: #FE461C;
          color: #FFFFFF;
          width: 160px;
          padding: 10px 0;
          border-radius: 3px;
          border: none;
          margin-right: 10px;
          margin-top: 29px;
          transition: 0.5s;
        }

        .hr:hover {
          background-color: #a73218;
          transition: 0.5s;
        }

        .dwn {
          background-color: transparent;
          color: #FFFFFF;
          width: 160px;
          padding: 8px 0;
          border-radius: 3px;
          border: 2px solid #FFFFFF;
          margin-right: 10px;
          margin-top: 29px;
          transition: 0.5s;
        }

        .dwn:hover {
          color: #0D0D0F;
          background-color: #FFFFFF;
          font-weight: 700;
          transition: 0.5s;
        }

        @media screen and (max-width: 650px) {

          .main_text {
            width: 430px;
          }
          .well {
            width: 430px;
          }

        }
      }

      @media screen and (max-width: 870px) {
        .blocks {
          display: none;
        }

        .three {
          display: flex;
        }

        .two {
          display: flex;
          left: 10%;
          bottom: 10%;
        }

        .text {
          left: 15%;
          width: 430px;

          h1 {
            width: 470px;
          }
        }

        .circle_two {
          width: 300px;
          height: 300px;
          border-radius: 50%;
          left: 35%;
          top: 60%;
        }

        .contacts {
          display: none;
        }
      }

      @media screen and (max-width: 480px) {
        .blocks {
          display: none;
        }

        .three {
          display: flex;
        }

        .two {
          display: flex;
          left: 10%;
          bottom: 10%;
        }

        .text {
          left: 10%;
          width: 430px;

          h1 {
            width: 430px;
          }
        }

        .circle_two {
          width: 300px;
          height: 300px;
          border-radius: 50%;
          left: 35%;
          top: 60%;
        }

        .contacts {
          display: none;
        }
      }
    }

    .About {
      background: #24263B;
      display: flex;
      flex-direction: column;
      align-items: center;


      h1 {
        margin-top: 100px;
        color: #FFFFFF;
        font-family: 'Outfit';

        @media screen and (max-width: 480px) {
          margin-top: 20px;
        }
      }

      .block {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 100px;

        .text {
          color: #FFFFFF;
          font-family: 'Outfit';
          margin-left: 100px;
          margin-bottom: 70px;

          @media screen and (max-width: 480px) {
            margin-bottom: 20px;
          }


          h1 {
            margin-bottom: 10px;
          }

          .bio {
            font-family: 'Public Sans';
            width: 400px;
            word-wrap: break-word;
          }

          .tab {
            margin-top: 20px;
            display: flex;

            p {
              margin: 15px;

              span {
                font-weight: bold;
              }
            }
          }

          @media screen and (max-width: 480px) {
            margin-left: 7%;
          }
        }

        .img_block {
          width: 510px;
          height: 450px;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url('./img/png/Group\ \(1\).png');

          @media screen and (max-width: 480px) {
            display: none;
          }

          @media screen and (max-width: 1000px) {
            display: none;
          }
        }
      }

      @media screen and (max-width: 480px) {
        .block {
          flex-direction: column;
        }
      }

    }

    .Portfolio {
      height: 100vh;
      width: 100vw;
      background-color: #1F2235;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;

      @media screen and (max-width: 650px) {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .size {
        display: none;
        width: 90%;
        height: auto;
      }

      h1 {
        font-family: 'Outfit';
        text-align: center;
        margin-bottom: 20px;
        color: #FFFFFF;
        overflow-y: hidden;
      }

      p {
        font-family: 'Outfit';
        text-align: center;
        margin-bottom: 20px;
        color: #FFFFFF;
        font-size: 40px;
      }


      .grid_Port {
        display: grid;
        width: 80%;
        height: 70%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          'first second third'
          'four second five'
          'four six five';
        gap: 10px;
        margin-bottom: 100px;

        img {
          background-color: #BBC5D3;
          border-radius: 10px;
        }

        @media screen and (max-width: 650px) {
          display: none;
        }
      }

      @media screen and (max-width: 480px) {
        .size {
          display: block;
        }

        .grid_Port {
          display: none;
        }
      }

      @media screen and (max-width: 650px) {
        .size {
          display: block;
        }
      }
    }

    .Service {
      background-color: #24263B;
      width: 100vw;
      padding-top: 50px;
      padding-bottom: 100px;

      h1 {
        text-align: center;
        color: #FFFFFF;
        font-family: 'Outfit';
        overflow-y: hidden;
      }

      p {
        font-family: 'Outfit';
        text-align: center;
        margin-top: 20px;
        color: #FFFFFF;
        font-size: 40px;
      }

      .flex {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 50px;

        .card {
          width: 15%;
          padding: 20px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: #1F2235;

          @media screen and (max-width: 1279px) {
            width: 22%;
          }

          @media screen and (max-width: 1000px) {
            width: 40%;
            margin-bottom: 20px;
            flex-wrap: wrap;
          }

          @media screen and (max-width: 650px) {
            width: 70%;
          }

          .h1 {
            font-family: 'Outfit';
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
          }

          .text {
            font-family: Public Sans;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;
          }

          ion-icon {
            font-size: 60px;
            color: #FE461C;
          }

          button {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: larger;
            padding: 5px;
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 50%;
            background-color: #282a38;
            color: #FFFFFF;
            box-shadow: 0px 0px 14px 0px #4141446b;
            transition: 0.5s;
            overflow: hidden;

            ion-icon {
              color: #FFFFFF;
              height: 35px;
            }
          }

          button:hover {
            background-color: #FE461C;
            box-shadow: 0px 0px 14px 0px #FE461C;
            transition: 0.5s;
          }
        }

        @media screen and (max-width: 480px) {
          flex-direction: column;
          align-items: center;

          .card {
            width: 80%;
            margin-bottom: 20px;
          }
        }
      }
    }

    .Resume {

      // height: 100vh;
      width: 100vw;
      padding-top: 100px;
      padding-bottom: 100px;
      background-color: #1F2235;
      display: flex;
      align-items: center;
      justify-content: center;


      .img_block {
        width: 510px;
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./img/png/Group\ \(1\).png');
        margin-left: 100px;

        @media screen and (max-width: 1000px) {
          display: none;
        }
      }

      @media screen and (max-width: 480px) {
        .img_block {
          display: none;
        }
      }


      .sec {

        display: flex;
        flex-direction: column;

        .h1 {
          text-align: left;
          color: #FFFFFF;
          font-family: 'Outfit';
          overflow-y: hidden;
        }

        .p {
          font-family: 'Outfit';
          text-align: left;
          margin-top: 10px;
          color: #FFFFFF;
          font-size: 40px;
        }

        .block {
          width: 400px;

          .text {
            color: #FFFFFF;
            font-family: 'Outfit';
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
          }

          .proc {

            width: 400px;
            height: 15px;
            background-color: #FFFFFF;
            border-radius: 7.5px;
            margin-bottom: 30px;

            .line {
              display: block;
              background-color: #FE461C;
              width: 90%;
              height: 15px;
              border-radius: 7.5px;

            }
          }
        }

      }
    }

    .Contact {
      padding-top: 50px;
      background-color: #24263B;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      align-items: center;


      .cards {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 650px) {
          flex-direction: column;
        }

        .card {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          border-radius: 10px;
          margin: 50px;
          margin-top: 20px;
          border: 2px solid #FFFFFF33;
          background-color: rgba(39, 30, 30, 0.2);
          flex-direction: row;
          color: #FFFFFF;

          .text {
            color: #FFFFFF;


            p {
              font-family: 'Public Sans';
              font-size: 16px;
              font-weight: 300;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
            }

            .h1 {
              font-family: 'Outfit';
              font-size: 24px;
              font-weight: 600;
              line-height: 30px;
              text-align: left;
            }
          }

          .ico {
            background: #24263B;
            box-shadow: 0px 0px 24px 0px #0F10186B;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}